<footer class="site-footer">
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="column">
          <h2 class="footer-heading">{{ site.title }}</h2>
          <p class="footer-description">{{ site.description }}</p>
        </div>

        <div class="column">
          <ul class="social-media-list">
            {% if site.github_username %}
            <li>
              {% include icon-github.html username=site.github_username %}
            </li>
            {% endif %}

            {% if site.linkedin_url %}
            <li>
              {% include icon-linkedin.html url=site.linkedin_url %}
            </li>
            {% endif %}

            {% if site.email %}
            <li>
              {% include icon-mail.html username=site.email %}
            </li>
            {% endif %}
          </ul>
        </div>


      </div>
    </div>  
  </div>
</footer>
